Repository NKI-AI/dlup, pull requests merged in 2022-08, with the labels that each got.

#84 Implement tiff writer
  dlup/_image.py
  dlup/data/dataset.py
  dlup/data/experimental/dataset.py
  dlup/experimental_backends/_tifffile.py
  dlup/experimental_backends/common.py
  dlup/tiling.py
  dlup/utils/pyvips.py
  dlup/utils/tifffile.py
  dlup/writers.py
  setup.py
  tests/common.py
  tests/test_dataset.py
  tests/test_image.py
  tests/test_writers.py
  tests/utils/__init__.py
  tests/utils/test_pyvips.py
Labels: python

#86 Read GeoJSON and annotation class fixes
  .mypy.ini
  dlup/_image.py
  dlup/data/dataset.py
  dlup/data/experimental/dataset.py
  dlup/data/transforms.py
  dlup/experimental_annotations.py
  dlup/viz/plotting.py
  pyproject.toml
  setup.py
  tests/test_dataset.py
Labels: python

#87 Export GeoJSON and support scaling
  dlup/data/dataset.py
  dlup/experimental_annotations.py
  tests/test_annotations.py
  tools/README.md
  tools/convert_tiger_to_tcga.py
  tools/write_annotated_roi_to_file.py
Labels: documentation, python

#88 Remap labels
  dlup/experimental_annotations.py
  tools/convert_tiger_to_tcga.py
Labels: python

#90 Remap labels
  dlup/data/dataset.py
  dlup/experimental_annotations.py
  tools/convert_tiger_to_tcga.py
Labels: python

#91 Remap labels
  dlup/experimental_annotations.py
Labels: python

#92 Fixes for ROI in datasets
  dlup/data/dataset.py
  dlup/data/experimental/dataset.py
  dlup/data/transforms.py
  dlup/experimental_annotations.py
Labels: python

#95 Allow L regions
  dlup/_region.py
Labels: python

#96 Fix tiff size order
  dlup/writers.py
  docs/writers.rst
  tests/test_writers.py
Labels: documentation, python

#97 Fix SlideImage as annotation
  dlup/data/dataset.py
Labels: python

#94 Made `self.transform` a private member in the base classes.
  dlup/data/dataset.py
Labels: python

#98 Allow simplification of polygons
  dlup/experimental_annotations.py
Labels: python

#99 Add tests for annotations
  dlup/annotations.py
  dlup/data/dataset.py
  dlup/data/experimental/dataset.py
  dlup/data/transforms.py
  dlup/viz/plotting.py
  tests/test_annotations.py
Labels: python

#100 Adding a few transforms
  dlup/annotations.py
  dlup/data/dataset.py
  dlup/data/experimental/dataset.py
  dlup/data/transforms.py
Labels: python

#101 Simplifications
  dlup/_image.py
  dlup/data/dataset.py
  dlup/data/experimental/dataset.py
  dlup/experimental_backends/__init__.py
  dlup/experimental_backends/openslide.py
  dlup/experimental_backends/pyvips.py
  dlup/experimental_backends/tifffile.py
  tools/README.md
  tools/convert_tiger_to_tcga.py
  tools/write_annotated_roi_to_file.py
Labels: documentation, python

#102 Transforms should only be applied on the used class
  dlup/data/dataset.py
  dlup/data/transforms.py
Labels: python

#104 Extend annotations, improve errors
  .github/workflows/codecov.yml
  dlup/_image.py
  dlup/annotations.py
  dlup/experimental_backends/pyvips.py
  dlup/utils/image.py
Labels: python, ci
