Repository NKI-AI/dlup, pull requests merged in 2023-10, with the labels that each got.

#166 Improve mypy
  dlup/_image.py
  dlup/annotations.py
  dlup/backends/common.py
  dlup/background.py
  dlup/background_deprecated.py
  dlup/cli/__init__.py
  dlup/cli/mask.py
  dlup/cli/wsi.py
  dlup/data/dataset.py
  dlup/data/experimental/dataset.py
  dlup/data/transforms.py
  dlup/experimental_backends/__init__.py
  dlup/experimental_backends/openslide_backend.py
  dlup/experimental_backends/pyvips_backend.py
  dlup/experimental_backends/tifffile_backend.py
  dlup/tiling.py
  dlup/tools.py
  dlup/types.py
  dlup/utils/__init__.py
  dlup/utils/mask.py
  dlup/utils/pyvips_utils.py
  dlup/utils/tifffile_utils.py
  dlup/viz/plotting.py
  dlup/writers.py
  pyproject.toml
  setup.py
  tests/test_dataset.py
  tests/test_image.py
  tests/test_tiling.py
Labels: python

#172 Improvement/mypy strict
  .github/workflows/mypy.yml
  dlup/annotations.py
  dlup/data/dataset.py
  dlup/tiling.py
  dlup/utils/tifffile_utils.py
  dlup/viz/plotting.py
  dlup/writers.py
  tests/test_tiling.py
  tests/utils/test_tifffile.py
Labels: python, ci

#173 Fixed __iter__ and added .pre-commit-config.yaml
  .github/workflows/tox.yml
  .pre-commit-config.yaml
  CONTRIBUTING.rst
  dlup/annotations.py
  dlup/cli/mask.py
  dlup/data/dataset.py
  dlup/tiling.py
  docker/jupyter_notebook_config.py
  docs/conf.py
  setup.cfg
  tests/backends/test_tifffile_backend.py
  tests/files/103S.json
  tests/test_dataset.py
  tests/test_tiling.py
Labels: documentation, python, ci

#159 add CITATION.cff file with main contributors
  .dev/bump_date.py
  CITATION.cff
  CONTRIBUTING.rst
  README.md
  setup.cfg
Labels: documentation

#178 Update pyvips_backend.py
  dlup/experimental_backends/pyvips_backend.py
Labels: python

#176 Implement functional interface for RenameLabels
  .dev/bump_date.py
  dlup/data/transforms.py
  log.txt
Labels: python
